svg {
    display: block;
}

svg text {
    fill: blue;
    font: 7px sans-serif;
    text-anchor: end;
}

.bar {
     fill: steelblue;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
  }
