/* GENERAL */
body {
    font-family: 'Roboto', sans-serif;
}

h1, h3 {
    text-align: center;
    padding: 30px 10px;
}

/* HOME PAGE */
.home > div {
    margin: 30px auto;
    text-align: center;
    width: 75%;
    padding: 30px;
    background-color: #D8BFD8;
    border-radius: 5%;
    box-shadow: 1px 3px 1px #aaa;
}

.home ul {
    list-style-position: inside;
}

/* GRAPHS */
svg text {
    font-weight: 700;
    font-size: 8px;
}

.graph {
    margin: 50px 0 0 0;
    min-width: 100%;
    overflow: scroll;
}

.bar {
    fill: #a0db8e;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
}

.bar:hover {
    fill: #405738;
}

.tooltip {
    position: absolute;
    font-size: 12px;
    font-weight: 600;
    pointer-events: none;
    background-color: #fffbae;
    color: darkblue;
    padding: 7px;
    border-radius: 10%;
}

.tooltip > p {
    margin: 0;
    text-align: center;
}

/* USER DATA */
.user-data {
    margin-top: 40px;
    margin-bottom: 40px;
}

.user-data > p {
    font-size: 30px;
}
